body{
    background-color: rgb(238, 238, 238);
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Orbitron', sans-serif;
font-family: 'Work Sans', sans-serif;
}

#indicator{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    font-weight:bold;
}

#indicator p{
    margin:5px;
}

.wrapper{
    display: flex;
    margin: 15% auto 8%;
    flex-direction: column;
    background-color: #e0e0e0;
    padding: 20px 50px;
    text-align: center;
    width: 50%;
    height: 200px;
    /* padding-top: 100px; */
    border-radius:  15px;
    z-index: 2;
    color: #7c98b8;
}

#container{
    margin: auto 0;
    background-color: #ffffff;
    height: 200px;
    align-items: center;    
    border-radius: 10px;
}

#myDay{
    margin-top:25px;
    font-size: 30px;
    margin-bottom:0;
    word-spacing: 10px;
    font-weight: 600;
    height: 35px;

}

#myClock {
    margin-top:20px;
    font-size: 60px;
    margin-bottom: 24px;
    height: 117px;
}



#button{
    background-color: #008100;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: -1.0% 64% 0;
    height: 15px;
    width: 80px;
    box-shadow: none;
    border: none;
    z-index: -1000;
    position: absolute; 
}

#button:hover{
    box-shadow: none;
    background-color: #006b00;
}

#button:active{
    transform: translateY(2px);
    box-shadow: none;
    background-color: #015301;
}

#button2{
    background-color: #d60000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: -1.0% 73% 0;
    height: 15px;
    width: 40px;
    box-shadow: none;
    border: none;
    z-index: -1000;
    position: absolute; 
}

#button2:hover{
    box-shadow: none;
    background-color: #cc0000;
}

#button2:active{
    transform: translateY(2px);
    box-shadow: none;
    background-color: #9b0000;
}

#button3{
    background-color: #0000b4;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: -1.0% 70% 0;
    height: 15px;
    width: 40px;
    box-shadow: none;
    border: none;
    z-index: -1000;
    position: absolute; 
}

#button3:hover{
    box-shadow: none;
    background-color: #0101a5;
}

#button3:active{
    transform: translateY(2px);
    box-shadow: none;
    background-color: #020292;
}

#stand{
    background-color: #adadad;
    width: 100%;
    height: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#foot1{
    background-color: black;
    width: 50px;
    height: 20px;
    margin-left: 50px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#foot2{
    background-color: black;
    width: 50px;
    height: 20px;
    margin-left: 650px;
    margin-top: -20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}